/*========= RESET STYLE TRÌNH DUYỆT & ĐỊNH DẠNG TRANG ========*/
@charset "utf-8";
* { margin:0; padding:0; }
body{ background:#FFFCF7;}
h1{margin:30px auto 0px; width:300px;}
h1 a{text-decoration:none; font-size:14px; color: #999;}
h1, h1 a:hover{color: #DB2E66; }

/*========= ĐỊNH DẠNG BOX #demo ========*/
#demo { 
	width:200px; font-size:12px;
	background:#EAF4F5; 
	padding:2px 2px 0; margin:3px auto;
	font-family:Verdana,Arial,Sans-Serif;
}

#demo a { text-decoration:none; }
#demo img { border: 2px solid #FFFFFF; }
#demo .title {
	color:#514448; padding:2px;	
	font-size:14px;font-weight:bold;
}

/*========= ĐỊNH DẠNG BOX .jcarouse ========*/
.jcarouse { width:200px; height:350px}
.jcarouse ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.jcarouse ul li a{ display:block; color:#F00; width:100px; }
.jcarouse ul li a:hover{ display:block; color:#00F;  }
.jcarouse .thumb { float:left; width:68px; height:50px; }
.jcarouse .info { }
.clr { clear: both; }
